.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.collection-preview .title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.collection-preview .preview {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 50rem) {
  .collection-preview .preview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }
}
