.checkout-items {
  width: 100%;
  min-height: 7rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  border-bottom: 1px solid darkgrey;
}
.ch-item-img {
  width: 20%;
  height: 7rem;
  margin-right: 1rem;
  background-position: center;
  background-size: cover;
}
.ch-item-name,
.ch-item-quantity,
.ch-item-price {
  width: 22%;
}
.arrow {
  cursor: pointer;
  padding: 0 0.8rem;
}

.ch-item-remove {
  padding-left: 1.5rem;
  font-size: 1.7rem;
  cursor: pointer;
}
@media (max-width: 50rem) {
  .checkout-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
    font-size: 1rem;
  }
  .ch-item-img {
    width: 90%;
  }
}
