.cart-items {
  width: 100%;
  height: 7rem;
  margin-bottom: 0.8rem;
  display: flex;
}
.cart-items .item-img {
  width: 35%;
  background-position: center;
  background-size: cover;
}
.item-details {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.8rem 1rem;
}
.item-details > .item-name {
  margin-bottom: 0.6rem;
}
@media (max-width: 50rem) {
  .cart-items {
    height: 7rem;
  }
  .cart-items .item-img {
    width: 40%;
  }
  .item-details {
    width: 60%;
  }
}
