.dropdown-container {
  position: absolute;
  top: 7rem;
  right: 3rem;
  height: 21rem;
  width: 15rem;
  padding: 1rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 1;
}
.dropdown-contents {
  height: 4.5rem;
}
button {
  margin-top: auto;
}
